*{
    font-family: Avenir Next;
}

.section-title{
    /* font-size: 1em; */
    color: black;
    margin-bottom: 30px;
}

.grid-table-section {
    position: relative;
    background: var(--pale-background);
    border-radius: 10px;
    width: 100%;
    counter-reset: section;
}

.grid-header, .grid-row{
    display: grid;
    list-style: none;
    grid-template-columns: 50px 150px 150px 1fr 50px;
    grid-gap: 30px;
    padding: 20px 20px;
    border-bottom: 2px solid var(--light-gray);
}

.grid-row{
    align-items: center;
    counter-increment: section; 
}

.grid-row:last-child {
    border-bottom: none;
}

.grid-header > *:last-child, .grid-row > *:last-child {
    justify-self: end;
}

/* .itemization-badge{
    background-color: var(--light-gray);
} */

.itemization-badge::after {
    position: relative;
    content: counter(section);
}

@media screen and (max-width:700px){
    .grid-table-section {
        width: 90%;
        left: 5%;
        display: grid;
        grid-gap: 20px;
        overflow: hidden;
        background-color: unset;
    }

    .grid-header {
        display: none;
    }

    .grid-row > *::before{
        content: attr(data-title)":";
        color: var(--accent);
        font-weight: bold;
        margin-right: 10px;

    }

    .grid-row { 
        grid-template-columns: 1fr;
        justify-items: start;
        padding: 0px;
        grid-gap: 0px;
        background-color: var(--pale-background);
        border-radius: 10px;
        border: none;
    }

    .grid-row > * {
        border-bottom: 1px solid var(--dark-accent);
        justify-self: unset;
        width: 100%;
        padding: 10px 20px;
    }

    .grid-row > *:last-child { 
        /* justify-self: start;  */
        border:none;
    }
}