<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/inputs.css">
</head>
<body>

    <style>

        *,
        *::after,
        *::before{
            padding: 0 0;
            margin: 0 0;
            box-sizing: border-box;
        }

        body{
            display: grid;
            height: 100vh;
            width: 100vw;
            place-items: center;
        }
    </style>

    <div class="overlay">
        <div class="popup">
            <div class="popup-header">
                <h1 class="pop-up-title">Add A Subtask</h1>
                <div class="close-button">
                    <img src="icons/fi-rr-cross-small.svg" alt="">
                </div>
            </div>
    
            <div class="popup-body">
                <form class="task-form">
    
                    <div class="form-input-container user-search-container">
                        <span class="form-input-label">Match to parent task</span>
                        <input class="form-input" placeholder="Parent Task" type="text" required>
                        <!-- <span class="release-input-lock" onclick="releaseInputThenFocus(this)"></span> -->
                        <!-- <div class="search-list-of-users">
                        </div> -->
                    </div>
        <!-- 
                    <div class="grid-two-columns">
        
                        <div class="form-input-container">
                            <span class="form-input-label">start date</span>
                            <input class="form-input patient-date-of-test" placeholder="start date" type="date" required disabled>
                        </div>
        
                        <div class="form-input-container">
                            <span class="form-input-label">Deadline</span>
                            <input class="form-input patient-date-of-test" placeholder="end date" type="date" required>
                        </div>
                    </div> -->
        
                    <div class="form-input-container user-search-container">
                        <span class="form-input-label">Task Name</span>
                        <input class="form-input" placeholder="Task Name" type="text" required>
                        <!-- <span class="release-input-lock" onclick="releaseInputThenFocus(this)"></span> -->
                        <!-- <div class="search-list-of-users">
                        </div> -->
                    </div>
                
                    <div class="grid-two-columns">
        
                        <div class="form-input-container">
                            <span class="form-input-label">start date</span>
                            <input class="form-input patient-date-of-test" placeholder="start date" type="date" required>
                        </div>
        
                        <div class="form-input-container">
                            <span class="form-input-label">Deadline</span>
                            <input class="form-input patient-date-of-test" placeholder="end date" type="date" required>
                        </div>
                    </div>
                
                    <div class="form-input-container">
                        <span class="form-input-label">Add Collaborators</span>
                        <input class="form-input patient-type-of-test" placeholder="Type a collaborator name" type="text">
                    </div>
                
                    <div class="form-input-container span-three">
                        <span class="form-input-label">Task Description</span>
                        <input class="form-input doctor-remarks" placeholder="Task Description" type="text">
                    </div>
                
                    <!-- <div class="form-input-container place-end">
                        <span class="form-input-label">Doctor Name</span>
                        <input class="form-input doctor-name" placeholder="Doctor Name" type="text" disabled>
                    </div> -->
                
                    <button class="submit-button stretch-x" type="button">Add New Task</button>
                    <div class="sk-bounce hidden-at-launch stretch-x create-report-loader">
                        <div class="sk-bounce-dot"></div>
                        <div class="sk-bounce-dot"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>